@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*,
*::before,
*::after{
   padding: 0;
   margin: 0;
   border: 0;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size:inherit;
   font-weight: inherit;
}

html,
body{
   line-height: 20px;
   background-color: #fff;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-size: 14px;
   font-weight: 400;
   color: #4B4B4B;
}
/*--------------------*/

._container {
   max-width: 341px;
   margin: 0 auto;
}

*:last-child {
   margin-bottom: 0;
}

.cards {
   margin: 27px 18px 27px 16px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.card {
   border: 1px solid #E5E5E5;
   border-radius: 16px;
   position: relative;
   box-sizing: border-box;

}
.card__image {
   margin: 0 0 14px 0;
}
.card-img {
   border-radius: 16px 16px 0 0;
   width: 100%;
}
.card-img_theme_s {
   height: 220px;
}
.card-img_theme_m {
   height: 284px;
}

.card__new {
   position: absolute;
   content: '';
   font-weight: 600;
   line-height: 20px;
   text-transform: capitalize;
   z-index: 100;
}
.card__new_theme_s {
   top: 41px;
   left: -1px;
   padding: 8px 17px;
   background-color: #FED74B;
   font-size: 12px;
   color: #3E3E3E;
}
.card__new_theme_m {
   top: 0;
   padding: 12px 29px;
   border-radius: 15px 0 12px;
   background-color: #7553FF;
   color: #FFFFFF;
   font-size: 14px;
}
.card__new_visibility {
   visibility: hidden;
}
.card__duration {
   display: flex;
   align-items: center;
   margin: 0 0 15px 0;
   padding: 0 12px;
}
.card__duration img {
   margin: 0 9px 0 0;
   height: 16px;
   width: 16px;
}
.duration__text {
   font-size: 12px;
   line-height: 20px;
   color: #9E9E9E;
}

.card__title {
   margin: 0 0 18px 0;
   padding: 0 12px;
   font-weight: 600;
   line-height: 22px;
   color: #404040;
}

.card-list {
   margin: 0 0 18px 0;
   padding: 0 12px;
}
.card-list__item {
   display: flex;
   align-items: flex-start;
   padding: 5px 0;
}
.card-list__item:last-child {
   flex-wrap: nowrap;
   margin-bottom: 30px;
}
.card-list__item img {
   margin: 0 20px 0 0;
   padding: 5px 0 0 0;
}
.card-list__text {
   line-height: 20px;
}

.card__times {
   margin-top: 8px;
   display: flex;
   gap: 7px;
   flex-wrap: wrap;
}
.card__time {
   max-width: 74px;
   padding: 3px 13px;
   background: #D9E8FF;
   border-radius: 11px;
   color: #343434;
   line-height: 20px;
}
summary {
   display: block;
   position: relative;
}
details summary::marker {
   display: none;
}
.wrapper-card__time .card__time {
   margin-left: -14px;
}
details[open] > summary{
   padding: 0;
   margin: 0;
}

.card__footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 19px ;
   margin-bottom: 19px;
}

.card__price {
   color: #000000;
}

.price {
   font-size: 30px;
   line-height: 20px;
}
.price span {
   margin-left: 8px;
   font-size: 29px;
}

.price-option {
   margin-top: 10px;
   font-size: 10px;
   font-weight: 400;
   line-height: 11px;
}

.card__btn {
   background: #FED74B;
   border: 1px solid #CBA500;
   font-size: 14px;
   line-height: 20px;
   color: #404040;
}
.card__btn_theme_s {
   padding: 11px 50px;
   max-width: 165px;
   border-radius: 20px;
   font-weight: 400;
}
.card__btn_theme_m {
   padding: 11px 54px;
   border-radius: 10px;
   font-weight: 600;
}

/*================================================*/

@media screen and (min-width: 1070px) {
   ._container {
      max-width: 1106px;
   }
   .card {
      display: flex;
      flex-direction: row;
      border: 2px solid #E5E5E5;
   }
   .card__image {
      margin: 0;
   }
   .card-img {
      min-width: 473px;
      height: 100%;
      object-fit: cover;
      border-radius: 16px 0 0 16px;
   }
   .card__new {
      top: 59px;
      padding: 12px 33px;
      border-radius: 0;
      font-weight: 600;
      font-size: 16px;
   }
   .card__content {
      display: flex;
      flex-direction: column;
      padding: 16px 17px 16px 23px;
   }
   .card__title {
      margin-bottom: 8px;
      padding: 0;
      order:-1;
      font-size: 26px;
      font-weight: 400;
      line-height: 34px;
      color: #000000;
   }
   .card__title span {
      display: none;
   }
   .card__duration {
      padding: 0;
      margin-bottom: 8px;
   }
   .duration__text {
      font-size: 14px;
   }
   .card-list {
      padding: 0;
   }
   .card-list__item {
      margin: 0 0 7px 0;
   }
   .card-list__item:last-child {
      flex-wrap: nowrap;
       margin-bottom: 5px;
   }
   .card-list__item img {
      margin-right: 15px;
   }
   .card-list__text {
      font-size: 18px;
   }
   .card-list__text:last-child {
      height: 28px;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
   }
   .card__times {
      margin: 0 0 0 10px;
   }
   .card__time {
      padding: 4px 16px;
      background: #C5DCFF;
      font-size: 16px;
   }
   .card__time:focus {
      background: #6BA6FF;
      /*font-size: 16px;*/
      color: #FFFFFF;
   }

   .price,
   .price span {
      font-size: 36px;
   }
   .price-option {
      max-width: 130px;
      line-height: 20px;
      font-size: 14px;
   }
   .card__footer {
      margin-bottom: 0;
      padding-left: 0;
      justify-content: left;
      align-items: start;
   }
   .card__price {
      margin-right: 13px;
   }
   .card__btn {
      max-width: 200px;
      padding: 15px 40px;
      font-size: 18px;
      border-radius: 23px;
      border-style: none;
   }
}